html, body {
    height:100%;
    width:100%;
    margin:0px;
}
.title-img {
    width:100%;
    margin-top:10px;
}
.catch-phrase-img {
    width:500px;
    display:absolute;
    position:absolute;
    left:90px;
    top:76.6%;
}
.title-box {
    display:relative;
    position:relative;
    width:600px;
    margin-left:calc(50% - 300px);
}
.title-box-band {
    width:100%;
    height:200px;
    background:url("venture cave image.png");
    background-position: calc(50% - 250px);
}
.output {
    padding:10px;
    height: calc(100% - 200px);
}
.input {
    margin-left:10px;
    width:calc(100% - 20px);
}